<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Ecolife - Multipurpose eCommerce HTML Template</title>

    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon/favicon.png}" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/plugins/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/plugins/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/css/plugins/ionicons.min.css}" />
    <link rel="stylesheet" th:href="@{/css/plugins/jquery-ui.min.css}" />
    <link rel="stylesheet" th:href="@{/css/plugins/meanmenu.css}" />
    <link rel="stylesheet" th:href="@{/css/plugins/nice-select.css}" />
    <link rel="stylesheet" th:href="@{/css/plugins/owl-carousel.css}" />
    <link rel="stylesheet" th:href="@{/css/plugins/slick.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/responsive.css}" />
    <style>
        i {
            font-size: 15px !important;
        }
    </style>
</head>