<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{/common/head::head}"></head>
    <body>
        <div id="main">
            <header th:replace="~{/common/header::header}"></header>
            <section class="breadcrumb-area" style="background-image: url(/images/breadcrumb-bg/breadcrumb-bg.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="breadcrumb-content">
                                <h1 class="breadcrumb-hrading">Shop Page</h1>
                                <ul class="breadcrumb-links">
                                    <li>Home</li>
                                    <li><i class="fas fa-chevron-right"></i></li>
                                    <li>Shop Grid</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="shop-category-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="shop-top-bar">
                                <div class="shop-tab nav mb-res-sm-15">
                                    <a class="active" href="#shop-1" data-toggle="tab">
                                        <i class="fa fa-th show_grid"></i>
                                    </a>
                                    <a href="#shop-2" data-toggle="tab">
                                        <i class="fa fa-list-ul"></i>
                                    </a>
                                    <p>There Are [[${products.size}]] Products.</p>
                                </div>
                            </div>

                            <div class="shop-bottom-area mt-35">
                                <!-- Shop Tab Content Start -->
                                <div class="tab-content jump">
                                    <!-- Tab One Start -->
                                    <div id="shop-1" class="tab-pane active">
                                        <div class="row">
                                            <div class="col-md-4 col-sm-6" th:each="item: ${products}">
                                                <article class="list-product">
                                                    <div class="img-block">
                                                        <a th:href="@{/single-product/{id}(id =${item.id})}" class="thumbnail">
                                                            <img class="first-img" th:src="@{${item.image}}" th:alt="${item.name}" />
                                                        </a>
                                                        <div class="quick-view">
                                                            <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" th:attr="data-target=${'#exampleModal'+item.id}">
                                                                <i class="fas fa-search"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <ul class="product-flag">
                                                        <li class="new">New</li>
                                                    </ul>
                                                    <div class="product-decs">
                                                        <a class="inner-link" href="shop-4-column.html"><span>STUDIO DESIGN</span></a>
                                                        <h2><a th:href="@{/single-product/{id}(id =${item.id})}" class="product-link" th:text="${item.name}"></a></h2>
                                                        <div class="rating-product">
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                        </div>
                                                        <div class="pricing-meta">
                                                            <ul>
                                                                <li class="old-price" th:text="${item.price}"></li>
                                                                <li class="current-price">€34.21</li>
                                                                <li class="discount-price" th:text="${item.discount}"></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="add-to-link">
                                                        <ul>
                                                            <li class="cart"><a class="cart-btn" th:href="@{/cart/{id}(id = ${item.id})}">ADD TO CART </a></li>
                                                            <li>
                                                                <a th:href="@{/wishlish/{id}(id = ${item.id})}">
                                                                    <i class="fas fa-heart"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </article>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Tab One End -->
                                    <!-- Tab Two Start -->
                                    <div id="shop-2" class="tab-pane">
                                        <div class="shop-list-wrap mb-30px scroll-zoom" th:each="item: ${products}">
                                            <div class="row list-product m-0px">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                            <div class="left-img">
                                                                <div class="img-block">
                                                                    <a th:href="@{/single-product/{id}(id =${item.id})}" class="thumbnail">
                                                                        <img class="first-img" th:src="@{ ${item.image} }" th:alt="${item.name}" />
                                                                    </a>
                                                                    <div class="quick-view">
                                                                        <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" th:attr="data-target=${'#exampleModal' + item.id}">
                                                                            <i class="fas fa-search"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <ul class="product-flag">
                                                                    <li class="new">New</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                                            <div class="product-desc-wrap">
                                                                <div class="product-decs">
                                                                    <a class="inner-link" href="shop-4-column.html"><span>GRAPHIC CORNER</span></a>
                                                                    <h2><a th:href="@{/single-product/{id}(id =${item.id})}" class="product-link" th:text="${item.name}"></a></h2>
                                                                    <div class="rating-product">
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                    </div>
                                                                    <div class="pricing-meta">
                                                                        <ul>
                                                                            <li class="old-price not-cut" th:text="${item.price}"></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="product-intro-info">
                                                                        <span th:text="${item.description}"></span>
                                                                    </div>
                                                                    <div class="in-stock">Availability: <span>[[${item.quantity}]] In Stock</span></div>
                                                                </div>
                                                                <div class="add-to-link">
                                                                    <ul>
                                                                        <li class="cart"><a class="cart-btn" th:href="@{/cart/{id}(id = ${item.id})}">ADD TO CART </a></li>
                                                                        <li>
                                                                            <a th:href="@{/wishlist/{id}(id = ${item.id})}"><i class="fas fa-heart"></i></a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer th:replace="~{/common/footer::footer}"></footer>
        </div>

        <!-- Modal -->
        <div class="modal fade" th:id="${'exampleModal'+item.id}" tabindex="-1" role="dialog" th:each="item: ${products}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-5 col-sm-12 col-xs-12">
                                <div class="tab-content quickview-big-img">
                                    <div id="pro-1" class="tab-pane fade show active">
                                        <img th:src="@{ ${item.image} }" th:alt="${item.name}" />
                                    </div>
                                </div>
                                <div class="quickview-wrap mt-15">
                                    <div class="quickview-slide-active owl-carousel nav owl-nav-style owl-nav-style-2" role="tablist">
                                        <a class="active" data-toggle="tab" href="#pro-1">
                                            <img th:src="@{ ${item.image} }" th:alt="${item.name}" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-12 col-xs-12">
                                <div class="product-details-content quickview-content">
                                    <h2 th:text="${item.name}"></h2>
                                    <p class="reference">Reference:<span> demo_17</span></p>
                                    <div class="pro-details-rating-wrap">
                                        <div class="rating-product">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <span class="read-review"><a class="reviews" href="#">Read reviews (1)</a></span>
                                    </div>
                                    <div class="pricing-meta">
                                        <ul>
                                            <li class="old-price not-cut">€18.90</li>
                                        </ul>
                                    </div>
                                    <p th:text="${item.description}"></p>
                                    <div class="pro-details-size-color">
                                        <div class="pro-details-color-wrap">
                                            <span>Color</span>
                                            <div class="pro-details-color-content">
                                                <ul>
                                                    <li class="blue"></li>
                                                    <li class="maroon active"></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <form class="pro-details-quality" method="get" th:action="@{/cart/{id}(id = ${item.id})}">
                                        <div class="cart-plus-minus">
                                            <input class="cart-plus-minus-box" type="text" name="quantity" value="1" min="1" th:max="${item.quantity}"/>
                                        </div>
                                        <div class="pro-details-cart btn-hover">
                                            <button> + Add To Cart</button>
                                        </div>
                                    </form>
                                    <div class="pro-details-wish-com">
                                        <div class="pro-details-wishlist">
                                            <a th:href="@{/wishlist/{id}(id = ${item.id})}"><i class="fas fa-heart"></i>Add to wishlist</a>
                                        </div>
                                    </div>
                                    <div class="pro-details-social-info">
                                        <span>Share</span>
                                        <div class="social-info">
                                            <ul th:replace="~{/common/social::ul}"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal end -->

        <script th:src="@{/js/vendor/jquery-3.5.1.min.js}"></script>
        <script th:src="@{/js/vendor/modernizr-3.7.1.min.js}"></script>
        <script th:src="@{/js/plugins/bootstrap.min.js}"></script>
        <script th:src="@{/js/plugins/popper.min.js}"></script>
        <script th:src="@{/js/plugins/meanmenu.js}"></script>
        <script th:src="@{/js/plugins/owl-carousel.js}"></script>
        <script th:src="@{/js/plugins/jquery.nice-select.js}"></script>
        <script th:src="@{/js/plugins/countdown.js}"></script>
        <script th:src="@{/js/plugins/elevateZoom.js}"></script>
        <script th:src="@{/js/plugins/jquery-ui.min.js}"></script>
        <script th:src="@{/js/plugins/slick.js}"></script>
        <script th:src="@{/js/plugins/scrollup.js}"></script>
        <script th:src="@{/js/plugins/range-script.js}"></script>
        <script th:src="@{/js/plugins/fontawesome.min.js}" ></script>
        <script th:src="@{/js/main.js}"></script>
    </body>
</html>
